@import '../../../base.scss';
#questionContent {
  height: 100%;
  padding: 30px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#questionFooter {
  display:flex;
  flex-direction: row;
  flex:0 0 auto;
  height:55px;
  width:100%;
  padding-top: 20px;
  justify-content:space-between;
  align-items:center;
  .left-footer{
    font-size:28px;
    color:#452B13;
    span{
      font-size:16px;
      color:#906113 ;
    }
  }
  .right-footer {
    display: flex;
  }
  a{
    display:inline-block;
    height:40px;
    width:112px;
    margin:0 10px;
    text-decoration:none;
    background-size:100%;
    &:hover{
      filter: brightness(90%);
    }
  }
  .next{
    @include HoverFinger;
    background: url('../images/xiayiti.png') no-repeat;
  }
  .pre{
    @include HoverFinger;
    background:url('../images/shangyiti.png') no-repeat;
  }
  .submit{
    @include HoverFinger;
    background:url('../images/tijiaozuoye.png') no-repeat;
  }
}

#questionAnswer {
  overflow: hidden;
  word-break: break-word;
  background: #EAF3E8;
  border-radius: 6px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #333333;
  margin-top: 16px;
  padding: 20px 15px;
  .question-answer {
    display: flex;
    justify-content: space-between;
  }
  .result {
    margin-top: 10px;
    display: flex;
    align-items: center;
    .show-result {
      width: 80px;
      height: 24px;
      background: #58D26D;
      border-radius: 100px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FFF;
      text-align: center;
      line-height: 24px;
      margin: 0 38px 0 10px;
    }
    .color3 {
      background: #DCDCDC;
    }
    .color1 {
      background: #58D26D;
    }
    .color2 {
      background: #EF4C4F;
    }
  }
}

#questionSwitch{
  display: flex;
  width: 252px;
  min-height: 38px;
  background: #FFF2E0;
  border-radius: 100px;
  padding: 3px;
  span {
    font-family: HYe3gj;
    font-size: 16px;
    width: 50%;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    // cursor:pointer;
    @include HoverFinger;
    &:hover{
        filter: brightness(90%); 
    }
  }
  .my-answer, .sure-answer {
    color: #906113;
  }
 
  .active {
    color: #fff;
    @include DefaultRedBtn(35px);
  }
}

#questionContainer {
  flex: 1;
	overflow: auto;
	overflow-y: auto;
	width: 100%;
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		background: #f5d2a7;
  }
  .question-index{
    font-size: 18px;
  }
  .optionPoll {
    background: #FFF7ED;
    border-radius: 10px;
    height: auto;
    span {
      background: #FDD086;
      border-radius: 4px;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #452B13;
      border: none;
    }
  }
  .title-wrapper {
    .title-content {
      p {
        font-size: 18px;
        color: #564646;
        zmsubline {
          box-sizing: border-box;
          display: inline-block;
          width: 4em;
          height: 1.5em;
          line-height: 1.5em;
          text-align: center;
          vertical-align: middle;
          border: none;
          color: transparent;
          user-select: none;
          border-bottom: 1px solid #564646;
        }
        img {
          width: 200px !important;
        }
      }
    }
  }
  .optionList-item-wrapper {
    min-height: 30px;
    .optionList-item-index {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #efefef;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #666;
    }
    .optionList-item-index.active {
      color: #5D9FFF;
      background: none;
    }
    .optionList-item-content {
      max-width: calc(100% - 22px);
    }
    .optionList-item-content {
      p {
        font-size: 16px;
        color: #452B13;
      }
    }
    .optionList-item-content.active {
      background: none;
      p {
        color: #5D9FFF;
      }
    }
    .optionList-item-index.answerError {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #EF4C4F;
      text-indent: 10000px;
      overflow: hidden;
      &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        color: white;
        border: 1px solid;
        background-color: white;
        width: 10px;
        height: 2px;
        left: 33%;
        top: 45%;
        transform: skew(0deg, -50deg);
      }
      &:before {
        content: '';
        pointer-events: none;
        position: absolute;
        color: white;
        border: 1px solid;
        background-color: white;
        width: 10px;
        height: 2px;
        left: 33%;
        top: 45%;
        transform: skew(0deg, 50deg);
      }
    }
    .optionList-item-index.answerRight {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #2ac845;
      text-indent: 10000px;
      overflow: hidden;
      &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        color: white;
        border: 1px solid;
        background-color: white;
        width: 10px;
        height: 1px;
        left: 46%;
        top: 45%;
        transform: skew(0deg, -50deg);
      }
      &:before {
        content: '';
        pointer-events: none;
        position: absolute;
        color: white;
        border: 1px solid;
        background-color: white;
        width: 6px;
        height: 2px;
        left: 27%;
        top: 50%;
        transform: skew(0deg, 50deg);
      }
    }
    .optionList-item-index {
      margin-right: 15px;
    }
    .optionList-item-content.answerRight {
      background: none;
      p {
        color: #58D26D;
      }
    }
    .optionList-item-content.answerError {
      background: none;
      p {
        color: #EF4C4F;
      }
    }
  }
  .match-box-wrapper {
    background: #FFFFFF;
    border: 3px solid #FDD086;
    border-radius: 6px;
    .falseMask {
      background: none;
    }
  }
  .horizonLayout .rightBox {
    border: 3px solid #58D26D;
  }
  .horizonLayout .falseBox {
    border: 3px solid #EF4C4F;
  }
  .styleMatchLine .insideLine {
    background: #5D9FFF;
  }
  .styleMatchLine .falseLine {
    background: #EF4C4F;
  }
  .styleMatchLine .rightLine {
    background: #58D26D;
  }
  .fillContainer zmFill.right {
    height: 27px;
    line-height: 27px;
    background: #58D26D !important;
    border-radius: 4px;
    border: none !important;
    color: white;
    font-size: 16px;
  }
  .fillContainer zmFill.wrong {
    height: 27px;
    line-height: 27px;
    background: #EF4C4F !important;
    border-radius: 4px;
    border: none !important;
    color: white;
    font-size: 16px;
    span {
      display: none;
    }
  }
  .fillContainer zmFill.filled {
    background: #F2F2F2;
    border: 1px solid #B0B0B0;
    height: 27px;
    line-height: 27px;
    min-width: 90px;
    text-align: center;
    span {
      font-size: 16px;
    }
  }
  .title-wrapper .title-content {
    line-height: 1;
    max-height: 1050px;
    overflow: hidden;
  }
  .sort-box-wrapper .cate-pool {
    background: #FFF7ED;
    border-radius: 5px;
  }
  .cate-target-list {
    .cate-target {
      background: #FDD086;
      border-radius: 5px;
      margin: 0 4px;
    }
    .sort_right:before {
      background: url('../images/right2.png') no-repeat;
      content:"";
      display:inline-block;
      position:absolute;
      width:20px;
      height:30px;
      top: 0;
      right: 0;
      background-repeat:no-repeat;
      background-size:100%;
    }
    .cate-inner .cate-option {
      .cate-text {
        word-break: break-all;
      }
    }
    .cate-inner .sort_right:before{
      display: none;
    }
    .wrong .wrong-tag {
      display: none;
      background: url('../images/wrong2.png') no-repeat;
      width:20px;
      height:20px;
      bottom: 22px;
      right: 0;
      background-size: 100%;
    }
    .cate-inner .wrong {
      background: rgba(255,0,0,0.20);
      border: 2px solid #FF0000;
    }
  }
  .group-wrapper {
    background: #FCF2DB;
    border-radius: 6px;
    font-size: 14px;
    color: #452B13;
    padding: 20px;
  }
  .fillContainer {
    .right:before {
      background: none;
    }
  }
  .optionList-item-wrapper {
    @include HoverFinger;
    display: flex;
    align-items: center;
  }
  .cate-target {
    width: 130px;
    height: 160px;
    padding: 15px 0 15px;
  }
  .cate-title {
    height: 39px;
    font-size: 14px;
    padding: 0 8px;
  }
  .cate-target .cate-option {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 2px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    z-index: 20;
  }
  .cate-option .cate-text {
    font-size: 14px !important;
  }
  .multiple-choice-wrapper {
    .title-wrapper {
      display: block;
      font-size: 18px;
      color: #564646;
    }
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #564646;
  }
  #matchBox {
    .title-wrapper {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #564646;
    }
  }
  .fill-box-wrapper {
    .content {
      font-size: 16px;
      color: #564646;
    }
  }
}






