@import '../../base.scss';
.NoRecordSelect {
  @include FlexCol;
  width:100%;
  height:100%;
  min-height:100%;
  flex:1;
  background-color:white;
  align-items:center;
  justify-content:center;
  color:#666;
  font-size:14px;
}

.RecordsNoDiv {
  @include FlexCol;
  height:100%;
  flex:auto;
  border:1px solid #ddd;
}

.FlexColumnDiv {
  @include FlexCol;
}

.VideoContent {
  flex:1;
  width:100%;
  &::-internal-media-controls-download-button {
      display:none;
  }
  &::-webkit-media-controls-enclosure {
      overflow:hidden;
  }
  &::-webkit-media-controls-panel {
      width: calc(100% + 30px); 
  }
}

.VideoToolBar {
  @include FlexRow;
  min-height:76px;
  border-top:1px solid lightgrey;
  align-items: center;
}

.VideoToolBarItem {
  @include FlexRow;
  position:relative;
  align-items: center;
  justify-content:center;
  overflow-x:auto;
  width:137px;
}

.VideoToolBarSmallVideo {
  width:60px;
  height:44px;
  cursor:pointer;
}

.VideoCover {
  width:60px;
  height:44px;
  left:16px;
  background-color:#000000;
  opacity: 0.4;
  cursor:pointer;
  position:absolute;
  z-index:1;
}

.VideoToolBarText {
  cursor:pointer;
  margin-left:10px;
  font-size: 14px;
  color: #2385EE;
}

.Wrapper {
  position:relative;
    width:794px;
    height:590px;
    z-index:10;
    .warpContent{
      width:100%;
      height:100%;
      background:url('./images/vedio_img_television.png') no-repeat;
      background-size:100% 100%;
      position:relative;
      iframe{
        width: 91.7%;
        height:69.7%;
        border-radius:20px;
        position:absolute;
        left:4.1%;
        top:17.3%!important;
      }
    }
}

.H5Wrapper {
  @include FlexCol;
  position:relative;
  width:894px;
  height:590px;
  z-index:10;
  margin-top:-10px;
}

.CoverImg {
  width:38px;
  height:38px;
  top:3px;
  cursor:pointer;
  left:27px;
  position:absolute;
  z-index:2;
}

.PptImgSmall {
  width: 100px; /* or any custom size */
  height: auto;
  margin-bottom:15px;
  object-fit: contain;
}