#pad-ability-report {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: HYZhengYuan;
}
