@import '../../base.scss';

#testInfo {
  #learningAbilityReport {
    background-color: #FFFFFF;
  }
}
#learningAbilityReport {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  border-radius: 32px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .report-title {
    height: 50px;
    margin: 37px 44px;
    font-size: 32px;
    line-height: 50px;
    color: #5A4437;
    position: relative;
    .retry-btn {
      @include DefaultRedBtn(50px);
      position: absolute;
      height: 50px;
      width: 96px;
      right: 0px;
      top: -5px;
      background-size: cover;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      //&:hover {
      //  transform: scale(1.2);
      //}
      //@include HoverFinger;
    }
  }
  .score-item {
    margin: 14px 38px;
    background: #F7F9FC url("./image/test_img_title@2x.png") no-repeat top left;
    background-size: 197px 46px;
    min-height: 260px;
    border-radius: 8px;
    text-align: left;
    position: relative;
    padding-bottom: 30px;
    .item-header {
      height: 46px;
      .header-title {
        float: left;
        font-size: 20px;
        line-height: 46px;
        padding-left: 57px;
        color: #ffffff;
        width: 180px;
      }
      .star-box {
        margin-left: 40px;
        height: 37px;
        padding-top: 9px;
        float: left;
        .star {
          float: left;
          width: 28px;
          height: 27px;
          background: url("./image/test_img_star_grey@2x.png") no-repeat center;
          background-size: cover;
          margin-left: 5px;
          &.light {
            background: url("./image/test_img_star_yellow@2x.png") no-repeat center;
            background-size: cover;
          }
        }
      }
    }
    .item-title {
      font-size: 18px;
      color: #333333;
      padding: 30px 50px 0 50px;
      position: relative;
      font-weight: bold;
      .item-content {
        margin-top: 15px;
        font-size: 14px;
        color: #666666;
      }
      &:before {
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        content: '';
        left: 30px;
        top: 36px;
        background-color: #64A6FF;
        border-radius: 10px;
      }
    }
    &.long {
      background: #F7F9FC url("./image/test_img_title_long@2x.png") no-repeat top left;
      background-size: 239px 46px;
      .header-title {
        width: 210px !important;
      }
    }
    &.concentration {
      &:before {
        display: inline-block;
        position: absolute;
        width: 54px;
        height: 62px;
        content: '';
        left: 0;
        top: -15px;
        background: url("./image/test_icon_atention@2x.png") center no-repeat;
        background-size: cover;
      }
    }
    &.memory {
      &:before {
        display: inline-block;
        position: absolute;
        width: 54px;
        height: 62px;
        content: '';
        left: 0;
        top: -15px;
        background: url("./image/test_icon_memory@2x.png") center no-repeat;
        background-size: cover;
      }
    }
    &.willpower {
      &:before {
        display: inline-block;
        position: absolute;
        width: 54px;
        height: 62px;
        content: '';
        left: 0;
        top: -15px;
        background: url("./image/test_icon_time@2x.png") center no-repeat;
        background-size: cover;
      }
    }
    &.thinking {
      &:before {
        display: inline-block;
        position: absolute;
        width: 54px;
        height: 62px;
        content: '';
        left: 0;
        top: -15px;
        background: url("./image/test_icon_rocket@2x.png") center no-repeat;
        background-size: cover;
      }
    }
  }
}
