@import '../../base.scss';
#checkWebgl {
  width:536px;
  height:337px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 9999;
  padding: 0 35px 0 45px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background:rgba(255,255,255,1);
  border-radius:24px;
  border:12px solid rgba(96,134,255,1);
  font-size: 16px;
  font-family: HYZhengYuan;
  .checkoutcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 24px;
  }
  .check-close {
    width: 43px;
    height: 43px;
    position: absolute;
    top: -24px;
    right: -24px;
    @include HoverFinger;
    background: url('../../statics/common/image/pop_icon_close.png') no-repeat;
  }
  .ellipse {
    width: 55px;
    height: 12px;
    position: absolute;
    top: -12px;
    left: 25px;
    background: url('../../statics/common/image/img_qipao.png') no-repeat;
    background-size: 100% auto;
  }

  .gonow {
    width: 140px;
    height: 45px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    @include HoverFinger;
    @include DefaultRedBtn(45px);
    & + & {
      margin-left: 20px;
    }
  }

  .tip {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 25px;
  }
}